.btn_5 button {
    position: fixed;
    display: flex;
    right: 5%;
    justify-content: center;
    align-items: center;
    bottom: 12rem;
    height: 50px;
    width: 50px;
    font-size: 50px;
    background-color: rgb(34, 34, 34);
    border: none;
    cursor: pointer;
    z-index: 1;
}
